In [2]:
import pandas as pd
import numpy as np
import shapely as shp
import geopandas as gpd
import shapely.geometry
from shapely import wkt
import operator
import ast
from shapely.ops import unary_union

In [3]:
Ord_data = pd.read_csv("/Users/aloksingh/Documents/Oxford/Agriculture/Land_Registry/NSD_FULL_2023_09/filtered_fields/Voronoi/grouped_fields/new/SIC_code_LR_owner_crop_wise.csv")
Ord_data['geometry'] = Ord_data['geometry'].apply(wkt.loads)
Ord_data = gpd.GeoDataFrame(Ord_data)
Ord_data = Ord_data.set_crs(27700, allow_override=True)
Ord_data

,Unnamed: 0,OWNER_ID,company_na,Company Re,Property A,Tenure,Propriet_2,District,County,Region,Postcode,Price Paid,owner_stat,Area(hec),crop_maxA,geometry
0,0,OWNER00051,Incredible Eggs South East Limited,10003377,NaN,Freehold,"THE NEW BARN, MILL LANE, EASTRY, SANDWICH CT13...",FOLKESTONE AND HYTHE,KENT,SOUTH EAST,NaN,NaN,UK,0.643838,Grass,"POLYGON ((617254.158 144497.610, 617283.307 14..."
1,1,OWNER00051,Incredible Eggs South East Limited,10003377,NaN,Freehold,"THE NEW BARN, MILL LANE, EASTRY, SANDWICH CT13...",FOLKESTONE AND HYTHE,KENT,SOUTH EAST,NaN,NaN,UK,4.442169,Lucerne,"POLYGON ((617017.829 144258.300, 617005.421 14..."
2,2,OWNER00051,Incredible Eggs South East Limited,10003377,NaN,Freehold,"THE NEW BARN, MILL LANE, EASTRY, SANDWICH CT13...",FOLKESTONE AND HYTHE,KENT,SOUTH EAST,NaN,NaN,UK,0.096553,Spring Barley,"POLYGON ((617387.693 144453.284, 617384.000 14..."
3,3,OWNER00074,Frickley Holdings Limited,1002159,NaN,Freehold,"LODGE FARM, FRICKLEY, DONCASTER, SOUTH YORKSHI...",DONCASTER,SOUTH YORKSHIRE,YORKS AND HUMBER,NaN,NaN,UK,2.516104,Beet,"POLYGON ((450739.060 400901.510, 450750.700 40..."
4,4,OWNER00074,Frickley Holdings Limited,1002159,NaN,Freehold,"LODGE FARM, FRICKLEY, DONCASTER, SOUTH YORKSHI...",NORTH YORKSHIRE,NORTH YORKSHIRE,YORKS AND HUMBER,NaN,NaN,UK,26.661740,Maize,"MULTIPOLYGON (((448443.420 454649.980, 448459...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22124,22124,OWNER23852,Cambusmore Estates Limited,SC227042,NaN,Freehold,"MANOR FARM, MEETH, OKEHAMPTON EX20 3QB",WEST DEVON,DEVON,SOUTH WEST,EX20 3QB,4639424.0,UK,1.528702,Potato,"POLYGON ((254275.502 107308.248, 254275.450 10..."
22125,22125,OWNER23852,Cambusmore Estates Limited,SC227042,NaN,Freehold,"MANOR FARM, MEETH, OKEHAMPTON EX20 3QB",MAIDSTONE,KENT,SOUTH EAST,NaN,NaN,UK,0.715475,Winter Field beans,"POLYGON ((579404.340 148922.500, 579381.690 14..."
22126,22126,OWNER23856,Zantra Limited,SC243067,NaN,Freehold,"WESTWOOD RATTAR MAINS, SCARSKERRY, THURSO, CAI...",HUNTINGDONSHIRE,CAMBRIDGESHIRE,EAST ANGLIA,NaN,NaN,UK,7.655247,Grass,"MULTIPOLYGON (((511933.367 264023.036, 511960...."
22127,22127,OWNER23856,Zantra Limited,SC243067,NaN,Freehold,"THE ORCHARD, GARDEN FARM, THE TOWN, GREAT STAU...",HUNTINGDONSHIRE,CAMBRIDGESHIRE,EAST ANGLIA,NaN,NaN,UK,10.711811,Spring Wheat,"POLYGON ((512489.038 264034.072, 512441.721 26..."
22128,22128,OWNER23860,T C Beattie And Co Limited,SC296896,NaN,Freehold,"WYSEBY MAINS, KIRTLEBRIDGE, LOCKERBIE, DUMFRIE...",CUMBERLAND,CUMBERLAND,NORTH,CA6 4HG,NaN,UK,8.737328,Grass,"MULTIPOLYGON (((335471.150 564462.420, 335463...."

In [ ]:
new_lands = Ord_data

In [ ]:
grids = gpd.read_file("/Users/aloksingh/Documents/Oxford/Agriculture/Land_Registry/NSD_FULL_2023_09/filtered_fields/Voronoi/Production and emissions/Agcensus/other-livestock/en-2016-c49-5km-horses.shp")
grids

In [ ]:
grids = gpd.read_file("/Users/aloksingh/Documents/Oxford/Agriculture/Land_Registry/NSD_FULL_2023_09/filtered_fields/Voronoi/Production and emissions/Agcensus/cattle-and-calves/en-2016-c36-5km-total-cattle-and-calves.shp")
grids

In [36]:
grids = gpd.read_file("/Users/aloksingh/Documents/Oxford/Agriculture/Land_Registry/NSD_FULL_2023_09/filtered_fields/Voronoi/Production and emissions/Agcensus/sheep-and-lambs/en-2016-c44-5km-total-sheep-and-lambs.shp")
grids

,id,x,y,agcval,geometry
0,1,390000.0,655000.0,28.696539,"POLYGON ((390000.000 655000.000, 390000.000 66..."
1,2,395000.0,655000.0,1438.543945,"POLYGON ((395000.000 655000.000, 395000.000 66..."
2,3,390000.0,650000.0,847.634521,"POLYGON ((390000.000 650000.000, 390000.000 65..."
3,4,395000.0,650000.0,4386.830566,"POLYGON ((395000.000 650000.000, 395000.000 65..."
4,5,400000.0,650000.0,290.244385,"POLYGON ((400000.000 650000.000, 400000.000 65..."
...,...,...,...,...,...
5522,5523,90000.0,10000.0,14.048073,"POLYGON ((90000.000 10000.000, 90000.000 15000..."
5523,5524,165000.0,10000.0,203.540451,"POLYGON ((165000.000 10000.000, 165000.000 150..."
5524,5525,170000.0,10000.0,180.743637,"POLYGON ((170000.000 10000.000, 170000.000 150..."
5525,5526,85000.0,5000.0,5.114912,"POLYGON ((85000.000 5000.000, 85000.000 10000...."
5526,5527,90000.0,5000.0,0.564772,"POLYGON ((90000.000 5000.000, 90000.000 10000...."

In [37]:
a = new_lands.sjoin(grids,op='intersects')
a

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3398: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

,OWNER_ID,company_na,Area(hec),crop_maxA,geometry,livestock,cattle,index_right,id,x,y,agcval
0,OWNER00051,Incredible Eggs South East Limited,0.643838,Grass,"POLYGON ((617254.158 144497.610, 617283.307 14...",27.315447,448.806793,4458,4459,615000.0,140000.0,1492.296631
1,OWNER00080,Campfield Farms Limited,2.975318,Grass,"POLYGON ((453925.310 355568.360, 453928.630 35...",35.584064,642.494751,1849,1850,450000.0,355000.0,888.459473
2,OWNER00096,Chicory Crops Limited,4.859163,Grass,"POLYGON ((365533.970 225844.620, 365457.840 22...",44.037224,890.751587,3450,3451,365000.0,225000.0,2729.354004
2512,OWNER19622,New Shelf Limited,8.384560,Grass,"MULTIPOLYGON (((364822.140 225362.170, 364814....",40.476086,924.449890,3450,3451,365000.0,225000.0,2729.354004
3,OWNER00097,M Baker Produce Limited,3.385768,Grass,"POLYGON ((541677.650 350591.960, 541682.555 35...",9.538355,458.384857,1911,1912,540000.0,350000.0,393.365723
...,...,...,...,...,...,...,...,...,...,...,...,...
2850,OWNER23063,Loveny Business Solutions Limited,3.052922,Grass,"POLYGON ((218470.240 67993.490, 218467.230 679...",50.615601,2032.329224,5340,5341,215000.0,65000.0,4489.083496
2851,OWNER23181,Church Commissioners For England,116.755925,Grass,"MULTIPOLYGON (((347859.550 542658.600, 347862....",26.390048,3800.817535,289,290,340000.0,550000.0,2509.517090
2853,OWNER23822,Glentworth Scottish Farms Limited,6.701803,Grass,"POLYGON ((494986.460 388115.690, 495000.000 38...",17.445620,466.192688,1582,1583,490000.0,385000.0,764.809082
2855,OWNER23852,Cambusmore Estates Limited,76.510539,Grass,"MULTIPOLYGON (((254305.010 107307.790, 254306....",37.581802,2761.345215,4934,4935,250000.0,105000.0,4649.926270
2857,OWNER23860,T C Beattie And Co Limited,8.737328,Grass,"MULTIPOLYGON (((335471.150 564462.420, 335463....",16.923330,3961.080078,234,235,335000.0,560000.0,3326.516357

In [ ]:

geo_idx = 0
for idx, col_n in enumerate(a.columns):
    if col_n=='geometry':
        geo_idx = idx
# Apply this to the geometries that might be invalid
a['geometry'] = a['geometry'].apply(lambda geom: make_valid(geom) if not geom.is_valid else geom)
new_lands['geometry'] = new_lands['geometry'].apply(lambda geom: make_valid(geom) if not geom.is_valid else geom)

a['V_O_area_prc'] = a.apply(lambda row: (row[geo_idx].intersection(new_lands.iloc[row[geo_idx+1]].geometry).area / row[geo_idx].area) * 100, axis=1)
a = a.reset_index(drop=True)

In [42]:
idx = a.groupby('OWNER_ID')['area_prct'].idxmax()
final_data = a.loc[idx]

In [43]:
final_data = final_data.reset_index()
final_data = final_data.drop(columns=['index'])
final_data

,OWNER_ID,company_na,Area(hec),crop_maxA,geometry,livestock,cattle,index_right,id,x,y,agcval,area_prct
0,OWNER00051,Incredible Eggs South East Limited,0.643838,Grass,"POLYGON ((617254.158 144497.610, 617283.307 14...",27.315447,448.806793,4458,4459,615000.0,140000.0,1492.296631,100.000000
1,OWNER00080,Campfield Farms Limited,2.975318,Grass,"POLYGON ((453925.310 355568.360, 453928.630 35...",35.584064,642.494751,1849,1850,450000.0,355000.0,888.459473,100.000000
2,OWNER00096,Chicory Crops Limited,4.859163,Grass,"POLYGON ((365533.970 225844.620, 365457.840 22...",44.037224,890.751587,3450,3451,365000.0,225000.0,2729.354004,100.000000
3,OWNER00097,M Baker Produce Limited,3.385768,Grass,"POLYGON ((541677.650 350591.960, 541682.555 35...",9.538355,458.384857,1911,1912,540000.0,350000.0,393.365723,100.000000
4,OWNER00112,P E King Bristol Limited,28.069058,Grass,"MULTIPOLYGON (((366735.550 183536.530, 366714....",59.586468,1892.869141,3922,3923,365000.0,180000.0,1973.530273,53.782559
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2853,OWNER23822,Glentworth Scottish Farms Limited,6.701803,Grass,"POLYGON ((494986.460 388115.690, 495000.000 38...",17.445620,466.192688,1582,1583,490000.0,385000.0,764.809082,95.539524
2854,OWNER23828,Braishfield Manor Estate Limited,6.806355,Grass,"POLYGON ((437970.840 127651.070, 437970.640 12...",143.742737,757.951416,4660,4661,435000.0,125000.0,783.457397,100.000000
2855,OWNER23852,Cambusmore Estates Limited,76.510539,Grass,"MULTIPOLYGON (((254305.010 107307.790, 254306....",37.581802,2761.345215,4934,4935,250000.0,105000.0,4649.926270,97.278865
2856,OWNER23856,Zantra Limited,7.655247,Grass,"MULTIPOLYGON (((511933.367 264023.036, 511960....",10.012134,154.750422,3029,3030,510000.0,260000.0,659.415222,100.000000
2857,OWNER23860,T C Beattie And Co Limited,8.737328,Grass,"MULTIPOLYGON (((335471.150 564462.420, 335463....",16.923330,3961.080078,234,235,335000.0,560000.0,3326.516357,100.000000

In [44]:
uq_id  = final_data.id.unique()
dct= {}
for i, j in enumerate(uq_id):
    temp_df = final_data[final_data.id ==j]
    dct[j] = temp_df.agcval.unique()[0]/(temp_df['Area(hec)'].sum())

In [45]:
final_data['sheep'] = 0
final_data['sheep'] =final_data.id.astype(int).map(dct)
final_data['sheep'] = final_data['sheep'] * final_data['Area(hec)']
#final_data = final_data.reset_index()
final_data

,OWNER_ID,company_na,Area(hec),crop_maxA,geometry,livestock,cattle,index_right,id,x,y,agcval,area_prct,sheep
0,OWNER00051,Incredible Eggs South East Limited,0.643838,Grass,"POLYGON ((617254.158 144497.610, 617283.307 14...",27.315447,448.806793,4458,4459,615000.0,140000.0,1492.296631,100.000000,1492.296631
1,OWNER00080,Campfield Farms Limited,2.975318,Grass,"POLYGON ((453925.310 355568.360, 453928.630 35...",35.584064,642.494751,1849,1850,450000.0,355000.0,888.459473,100.000000,888.459473
2,OWNER00096,Chicory Crops Limited,4.859163,Grass,"POLYGON ((365533.970 225844.620, 365457.840 22...",44.037224,890.751587,3450,3451,365000.0,225000.0,2729.354004,100.000000,2729.354004
3,OWNER00097,M Baker Produce Limited,3.385768,Grass,"POLYGON ((541677.650 350591.960, 541682.555 35...",9.538355,458.384857,1911,1912,540000.0,350000.0,393.365723,100.000000,393.365723
4,OWNER00112,P E King Bristol Limited,28.069058,Grass,"MULTIPOLYGON (((366735.550 183536.530, 366714....",59.586468,1892.869141,3922,3923,365000.0,180000.0,1973.530273,53.782559,1973.530273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2853,OWNER23822,Glentworth Scottish Farms Limited,6.701803,Grass,"POLYGON ((494986.460 388115.690, 495000.000 38...",17.445620,466.192688,1582,1583,490000.0,385000.0,764.809082,95.539524,764.809082
2854,OWNER23828,Braishfield Manor Estate Limited,6.806355,Grass,"POLYGON ((437970.840 127651.070, 437970.640 12...",143.742737,757.951416,4660,4661,435000.0,125000.0,783.457397,100.000000,783.457397
2855,OWNER23852,Cambusmore Estates Limited,76.510539,Grass,"MULTIPOLYGON (((254305.010 107307.790, 254306....",37.581802,2761.345215,4934,4935,250000.0,105000.0,4649.926270,97.278865,4649.926270
2856,OWNER23856,Zantra Limited,7.655247,Grass,"MULTIPOLYGON (((511933.367 264023.036, 511960....",10.012134,154.750422,3029,3030,510000.0,260000.0,659.415222,100.000000,411.872615
2857,OWNER23860,T C Beattie And Co Limited,8.737328,Grass,"MULTIPOLYGON (((335471.150 564462.420, 335463....",16.923330,3961.080078,234,235,335000.0,560000.0,3326.516357,100.000000,3326.516357

In [47]:
temp_dict = dict(zip(final_data.OWNER_ID, final_data['sheep']))

In [153]:
final_data[final_data.company_na_ID=='OWNER00001']

,ID,company_na_ID,company_name,Company Re,Tenure,Propriet_2,Area(hec),crop_maxA,geometry,index_right,id,x,y,agcval,area_prct,livestock
2600,"{'FARM26152', 'FARM93431'}",OWNER00001,001hardy Limited,11046698,Freehold,"WILLOW FARM, NEWARK ROAD, HAWTON, NEWARK NG24 3RR",4.956177,Grass,"MULTIPOLYGON (((478547.680 351117.740, 478510....",1825,1826,475000.0,350000.0,27.818581,100.0,10.977545

In [ ]:
new_lands[new_lands.ID==840].livestock

In [48]:
new_lands['sheep'] =new_lands.OWNER_ID.astype(str).map(temp_dict)
new_lands['sheep'] = new_lands['sheep'].fillna(0)
new_lands

,OWNER_ID,company_na,Area(hec),crop_maxA,geometry,livestock,cattle,sheep
0,OWNER00051,Incredible Eggs South East Limited,0.643838,Grass,"POLYGON ((617254.158 144497.610, 617283.307 14...",27.315447,448.806793,1492.296631
1,OWNER00080,Campfield Farms Limited,2.975318,Grass,"POLYGON ((453925.310 355568.360, 453928.630 35...",35.584064,642.494751,888.459473
2,OWNER00096,Chicory Crops Limited,4.859163,Grass,"POLYGON ((365533.970 225844.620, 365457.840 22...",44.037224,890.751587,2729.354004
3,OWNER00097,M Baker Produce Limited,3.385768,Grass,"POLYGON ((541677.650 350591.960, 541682.555 35...",9.538355,458.384857,393.365723
4,OWNER00112,P E King Bristol Limited,28.069058,Grass,"MULTIPOLYGON (((366735.550 183536.530, 366714....",59.586468,1892.869141,1973.530273
...,...,...,...,...,...,...,...,...
2853,OWNER23822,Glentworth Scottish Farms Limited,6.701803,Grass,"POLYGON ((494986.460 388115.690, 495000.000 38...",17.445620,466.192688,764.809082
2854,OWNER23828,Braishfield Manor Estate Limited,6.806355,Grass,"POLYGON ((437970.840 127651.070, 437970.640 12...",143.742737,757.951416,783.457397
2855,OWNER23852,Cambusmore Estates Limited,76.510539,Grass,"MULTIPOLYGON (((254305.010 107307.790, 254306....",37.581802,2761.345215,4649.926270
2856,OWNER23856,Zantra Limited,7.655247,Grass,"MULTIPOLYGON (((511933.367 264023.036, 511960....",10.012134,154.750422,411.872615
2857,OWNER23860,T C Beattie And Co Limited,8.737328,Grass,"MULTIPOLYGON (((335471.150 564462.420, 335463....",16.923330,3961.080078,3326.516357

In [248]:
new_lands = Ord_data
new_lands

,OWNER_ID,company_na,comp_address,Company Re,sheep,livestock,cattle,crop_maxA,Area(hec),geometry
0,OWNER00001,001hardy Limited,"Willow Farm, Newark Road, Hawton, Newark Ng24 3rr",11046698,151.981713,5.395006,84.730943,Grass,4.956177,"MULTIPOLYGON (((478547.680 351117.740, 478510...."
1,OWNER00002,07737281 Limited,"Russell House, Oxford Road, Bournemouth Bh8 8ex",7737281,319.822959,5.116111,161.140328,Grass,10.356120,"MULTIPOLYGON (((387708.247 123140.420, 387697...."
2,OWNER00004,1 Grosvenor Holdings Limited,"263 Dunstable Road, Luton Lu4 8bp",10332472,44.735456,1.081779,9.645383,Grass,1.636863,"MULTIPOLYGON (((513225.980 251781.780, 513218...."
3,OWNER00007,123 Project Management Limited,"Suite 1a, Bailey Court, Green Street, Macclesf...",9580698,3017.647522,33.490917,512.450665,Grass,7.211894,"POLYGON ((391670.450 371505.300, 391672.200 37..."
4,OWNER00011,1995 Settlement Trust Limited,"Aldenham Estate Office, Elstree Aerodrome, Hog...",10911087,24.958964,4.115666,10.753621,Grass,12.541028,"MULTIPOLYGON (((516000.000 196906.040, 516027...."
...,...,...,...,...,...,...,...,...,...,...
12862,OWNER28034,Zinc Puckrup Hall Hotels Limited,"22 Grenville Street, St Helier, Jersey, Je4 8px",3307736,269.433020,6.279331,147.256618,Grass,4.771291,"POLYGON ((389482.780 236829.230, 389484.180 23..."
12863,OWNER28036,Zrh Nominees 0038 Limited,"Zollikerstrasse 181, 8034 Zurich, Switzerland",NaN,691.551774,29.301882,228.343127,Grass,11.138177,"POLYGON ((554605.020 124417.700, 554630.620 12..."
12864,OWNER28037,Zubella Limited,"61 Crowstone Road, Westcliff On Sea, Southend ...",5815518,13.291647,1.755871,5.920122,Grass,1.009190,"POLYGON ((557034.620 185972.270, 557034.650 18..."
12865,OWNER28040,Zymshire Limited,"Bluebell House, Brian Johnson Way, Preston Pr2...",11822359,606.498957,6.233339,84.174542,Grass,7.202948,"MULTIPOLYGON (((398104.490 392506.520, 398103...."
12866,OWNER28041,Zyox Limited,"Swallow House, Shilton Industrial Estate, Shil...",2270075,549.604256,12.002726,184.760231,Grass,28.661175,"MULTIPOLYGON (((452543.420 209322.610, 452521...."

In [49]:
new_lands.columns

Index(['OWNER_ID', 'company_na', 'Area(hec)', 'crop_maxA', 'geometry',
       'livestock', 'cattle', 'sheep'],
      dtype='object')

In [52]:
new_lands1 = new_lands[['OWNER_ID',   'crop_maxA',
       'livestock', 'cattle', 'sheep' ]]
new_lands1

        OWNER_ID crop_maxA   livestock       cattle        sheep
0     OWNER00051     Grass   27.315447   448.806793  1492.296631
1     OWNER00080     Grass   35.584064   642.494751   888.459473
2     OWNER00096     Grass   44.037224   890.751587  2729.354004
3     OWNER00097     Grass    9.538355   458.384857   393.365723
4     OWNER00112     Grass   59.586468  1892.869141  1973.530273
...          ...       ...         ...          ...          ...
2853  OWNER23822     Grass   17.445620   466.192688   764.809082
2854  OWNER23828     Grass  143.742737   757.951416   783.457397
2855  OWNER23852     Grass   37.581802  2761.345215  4649.926270
2856  OWNER23856     Grass   10.012134   154.750422   411.872615
2857  OWNER23860     Grass   16.923330  3961.080078  3326.516357

[2858 rows x 5 columns]

In [ ]:
new_lands1 = new_lands[['company_na_ID', 'company_na', 'Propriet_2', 'Company Re', 'sheep', 'livestock', 'cattle','crop_maxA',
       'Area(hec)', 
       ]]
new_lands1

In [80]:
new_lands.columns

Index(['ID', 'crop', 'Area(hec)', 'geometry', 'livestock', 'cattle', 'sheep'], dtype='object')

In [ ]:
new_lands = gpd.GeoDataFrame(new_lands)
new_lands.to_file("./new/fram_LR_together_grass_cattles_shp_livst.shp")

In [81]:
new_lands1 = new_lands[['ID', 'crop','livestock', 'cattle', 'sheep', 'Area(hec)',  ]]

In [53]:
new_lands1.to_csv('./new/SIC_grass_cattles_shp_livst.csv', index=False)